.Hero__Wrapper{
  width: 100vw;
  height: 850px;
}

.Hero__Image{
  background: url("https://images.unsplash.com/photo-1583248839364-bd7430a3cd83?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80")
  no-repeat
  center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.signin{
  position: absolute;
  right: 0;
  padding: 5px;
  margin: 10px;
  border: none;
  
}

.Background__Overlay{
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  justify-content: center;
}

.Nav__Wrapper{
  height: 20px;
  padding: 25px;
  padding-top: 80px;
  justify-content: center;
}

.Hero__Nav{
  width: 1450px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: white !important;
  text-decoration: none;
  font-size: 20px;
}

.Hero__Links__1{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero__Links__2{
  font-size: 20px;
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.icon.outline{
  color: white;
  cursor: pointer;
}

.count{
  position: absolute;
  
}

.count{
  font-size: 0.7rem;
  color: white;
  margin-left: 70px;
  margin-bottom: 10px;
}

.cart{
  color: white;
  cursor: pointer
}

.Tagline{
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  color: white;
  text-align: center;
  margin-top: 250px;
  padding: 50px;
  font-size: 100px;
}

.user__popup{
  position:absolute;
  flex-wrap: wrap;
  max-width: 165px;
  background-color: gray;
  font-size: 0.7em;
  padding: 10px;
  color: white;
  margin-top: 100px;
}

