.footer__wrapper{
  border-top: 1px solid rgba(92, 91, 91, 0.8);
}

.footer__details{
  margin-top: 60px;
  width: 500px;
  height: 200px;
  margin-left: 100px;
}
.footer__details>h1{
  color: white;

}

.footer__container{
  width: 900px;
}

.email__container{
  display: flex;
  align-items: center;
  text-align: center;
  max-height: 45px;
  margin-bottom: 20px;
}

.email__container>input{
  max-width: 400px;
  height: 45px;
  border: 1px solid rgba(49, 49, 49, 0.6);
  outline: none;
}

.email__container>button{
  width: 50px;
  height: 45px;
  border: none;
  border-left: 1px solid rgba(49, 49, 49, 0.6);
  cursor: pointer;
}

.footer__container>p{
  color: white;
  font-size: 0.8em;
}

.footer__container>p>a{
  color: white;
  font-size: 1em;
  text-decoration: underline;
  font-style: italic;
}
