.popular__container{
  background-color: black;
  margin-top: 80px;
  text-align: center;  
}

.popular__container>h1{
  width: 700px;
  font-size: 80px;
  font-weight: 200;
  color: white;
  padding: 20px;
  margin: 30px auto;
}

.items__wrapper{
  width: 100%;
  height: 100%;
  justify-content: center;
}

.items--contents{
  padding: 50px;
  margin-left:auto;
  margin-right:auto;
  justify-content: left;
}

.products--container{
  width: 1230px;
  padding: 30px;
  display: flex;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right:auto;
}

.image--wrapper{
  display: block;
  width:650px;
  height: 650px;
  background-color: rgba(77, 74, 74, 0.4);
  border-radius: 50%;
  align-content: center;
  text-align: center;
  margin-left: 50px;
}

.protein--image{
  margin-top: 60px;
  object-fit: contain;
  width: 550px;
}

.description{
  width: 350px;
  margin: 30px;
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}

.name{
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.product-desc{
  font-size: 16px;
  font-weight: 300;
}

.buttons{
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.learnMore{
  text-decoration: underline;
}

.buy{
  width: 110px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}

.subscribe{
  width: 200px;
  height: 40px;
  border: 1px solid rgba(128, 123, 123, 0.651);
  border-radius: 20px;
  background:transparent;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.bars__h1{
  font-size: 120px;
  text-align: center;
  color: white;
  font-weight: 200;
  margin-bottom: 100px;
}

.bars__h1>span{
  font-size: 120px;
  text-align: center;
  color: white;
  font-style:italic;
  font-weight: 200;
}

.bars--wrapper{
  display: flex;
  height: 840px;
  justify-content: space-evenly;
  padding: 10px 30px;
  background-color: black;
}

.bars--container{
  width: 300px;
  height: 600px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.bars__image--wrapper{
  height: 400px;
  padding: 10px;
}

.bars--image{
  margin-top: 60px;
  object-fit: contain;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.bars__description{
  height: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

.bars__name{
  font-size: 20px;
}

.bars__price{
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  margin: 0;
}

.bars__product-desc{
  font-size: 15px;
  font-weight: 200;
}

.bars__buttons{
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}
